@CHARSET "UTF-8";

#meta-table {
  float: right;
  width: auto;
}

.table {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.container {
  max-width: 960px;
}

.upr_title {
  text-align: center;
  width: 100%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

emph {
  font-style: italic;
}

#frame-div {
  width: 600px;
  margin: auto;
  padding: 15px;
  background-color: #D8D8D8; /*#E8E2D6;*/
  border: 5px solid black;
}
